@media screen and (max-width: 1002px) {
    .header {
        position: relative;
    }
    .search-wrapper {
        display: none;
    }
    .user-nav {
        width: 10%;
        position: absolute;
        background: url(../images/hamburger-icon.svg);
        background-size: 50px;
        background-repeat: no-repeat;
        height: 25px;
        margin: 16px -34px 0px 0px;
        left: 270px;
    }
    .user-nav h2 {
        display: none;
    }
    .user-nav ul {
        display: none;
    }
    .content .left-sidebar {
        display: none;
    }
    .content {
        margin-left: 225px;
    }
    .article .mid-content {
        width: 140%;
    }
    /* .left-nav {
      width: 36%;
  } */
}

@media screen and (max-width: 400px) {
    .container {
        margin: 0px auto;
    }
    .logo-wrapper {
        padding-left: 280px;
    }
    .content {
        display: none;
    }
    .user-nav {
        width: 10%;
        background: url(../images/hamburger-icon.svg);
        background-size: 50px;
        background-repeat: no-repeat;
        height: 25px;
        margin: 20px 134px -6px 70px;
        left: 495px;
        margin-left: 55px;
    }
    .user-nav h2 {
        display: none;
    }
    .user-nav ul {
        display: none;
    }
    .article {
        width: 100%;
    }
    .article .mid-content {
        padding-top: 30px;
        width: 98%;
    }
    .user-notification {
        float: none;
    }
    .navbar {
        display: none;
    }
}