.header {
    padding: 18px 20px;
    /* background-color: #F0F4F9; */
}

.body-wrapper,
.header {
    /* height: 86vh; */
    width: 1320px;
    margin: auto;
}

.header {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px) {
    .body-wrapper,
    .header {
        width: 1140px;
    }
}

@media only screen and (max-width: 1200px) {
    .body-wrapper,
    .header {
        width: 1140px;
    }
}

@media only screen and (max-width: 992px) {
    .body-wrapper,
    .header {
        width: 960px;
    }
}

@media only screen and (max-width: 768px) {
    .body-wrapper,
    .header {
        width: 720px;
    }
}

@media only screen and (max-width: 576px) {
    .body-wrapper,
    .header {
        width: 540px;
    }
}