* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-x: hidden;
    color: #5E6282;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

div {
    display: block;
    ;
}

h5 {
    font-size: 1.125rem;
}