.navbar-brand {
    white-space: nowrap;
}

.navbar-brand img {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

.navbar-toggler {
    float: right;
    color: #212832;
    border-color: black;
    padding: 2px 8px;
    font-size: 1.2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 0.2rem;
}

.button img {
    width: 45px;
    height: 28px;
}

.navbar {
    padding: 15px 35px;
}

.navbar ul {
    padding-top: 10px;
}

.navbar ul li {
    padding: 7px 10px;
    width: max-content;
}

.navbar-nav {
    display: none;
}

.navbar-nav li a:hover {
    color: #F1A501;
}

.dropdown-menu {
    border-radius: 0.3rem;
    box-shadow: 0 1rem 4rem rgb(0 0 0 / 18%) !important;
    background: white;
    width: 130px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.sign-up-btn {
    border: 1px solid black;
    padding: 6px 8px;
    font-size: 1.2rem;
    line-height: 1;
    background-color: transparent;
    border-radius: 0.2rem;
}

.sign-up-btn:hover {
    color: white!important;
    background: black;
}

.intro-wrapper {
    padding: 55px 55px;
    height: 100%
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-image: url(./images/header-bg-2.svg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: -1;
}

.intro-wrapper-top-left {
    width: 100%;
    height: 100px;
    float: left;
}

.intro-wrapper-top-right {
    display: none;
    width: 50%;
    height: 100px;
    float: right;
    margin-top: 25px;
}


/* .section {
    padding-top: 2.5rem;
} */


/* .services-wrapper {
    padding: 120px 0px 80px;
} */

.services-wrapper-header {
    margin-bottom: 4rem;
}

.services-card {
    width: 100%;
    text-align: center;
    padding: 35px 45px;
    float: left;
    position: relative;
    z-index: 100;
}

.services-card h4 {
    margin-bottom: 16px;
}

.services-card img,
svg {
    vertical-align: middle;
    height: 75px;
}

.rounded {
    border-radius: 36px;
}

.services-card:hover {
    box-shadow: 0 6.25rem 5rem 0 rgb(0 0 0 / 2%), 0 4.05063rem 2.92813rem 0 rgb(0 0 0 / 2%), 0 2.4075rem 1.5925rem 0 rgb(0 0 0 / 1%), 0 1.25rem 0.8125rem 0 rgb(0 0 0 / 1%), 0 0.50938rem 0.4075rem 0 rgb(0 0 0 / 1%), 0 0.11563rem 0.19687rem 0 rgb(0 0 0 / 0);
}


/* .destination-wrapper-cards {
    height: 100%;
} */

.destination-card {
    box-shadow: 0 6.25rem 5rem 0 rgb(0 0 0 / 2%), 0 4.05063rem 2.92813rem 0 rgb(0 0 0 / 2%), 0 2.4075rem 1.5925rem 0 rgb(0 0 0 / 1%), 0 1.25rem 0.8125rem 0 rgb(0 0 0 / 1%), 0 0.50938rem 0.4075rem 0 rgb(0 0 0 / 1%), 0 0.11563rem 0.19687rem 0 rgb(0 0 0 / 0);
}

.card-item-wrapper {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.card-item-wrapper img {
    border-radius: 36px 36px 0px 0px;
}

.destination-card {
    width: max-content;
    margin: auto;
}

.description-top {
    padding: 5px 20px;
}

.description-top h4 {
    width: 50%;
    float: left;
}

.description-top h3 {
    width: 50%;
    float: right;
    text-align: end;
}

.description-bottom {
    padding: 20px;
}

.description-top {
    padding: 20px;
}

.description-bottom {
    padding-top: 40px;
    padding-bottom: 20px;
}

.easy-booking {
    width: 100%;
    padding: 0px 20px;
}

.travel-card-wrapper {
    width: 100%;
    padding: 0px 20px;
}

.travel-card {
    width: max-content;
    margin: auto;
    box-shadow: 0 6.25rem 5rem 0 rgb(0 0 0 / 2%), 0 4.05063rem 2.92813rem 0 rgb(0 0 0 / 2%), 0 2.4075rem 1.5925rem 0 rgb(0 0 0 / 1%), 0 1.25rem 0.8125rem 0 rgb(0 0 0 / 1%), 0 0.50938rem 0.4075rem 0 rgb(0 0 0 / 1%), 0 0.11563rem 0.19687rem 0 rgb(0 0 0 / 0);
    border-radius: 36px;
}

.travel-card img {
    border-radius: 36px;
}

.travel-card {
    padding: 20px;
}

.travel-card h5,
.travel-card p {
    padding-top: 10px;
}

.insta-icons {
    padding-top: 24px;
}

.insta-icons span {
    padding: 10px;
}

.img-travel {
    padding: 20px 0px;
}

.img-travel img {
    padding-right: 25px;
}

.heart {
    margin-left: 130px;
}

.description span {
    padding: 19px;
}


/* .services-card:hover::before {
    content: '';
    position: absolute;
    left: 0.625rem;
    bottom: 0.625rem;
    width: 6.25rem;
    height: 6.25rem;
    background-color: #DF6951;
    border-radius: 1.875rem 0 0.625rem 0;
    z-index: -1;
} */

@media screen and (min-width: 576px) {
    .services-card {
        width: 50%;
    }
    .card-item-wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .navbar-toggler {
        display: none !important;
    }
    .intro-wrapper-top-left {
        width: 50%;
    }
    .intro-wrapper-top-right {
        display: block;
    }
    .navbar ul,
    .navbar ul li {
        display: inline;
        padding: 0 1.35%;
    }
    .navbar ul {
        padding-left: 9.75%;
    }
    .navbar-nav {
        display: unset !important;
    }
    .header {
        background: unset !important;
    }
    .card-item-wrapper {
        width: 33%;
    }
    .services-card {
        display: block;
        width: 25%;
        float: left;
    }
    .easy-booking {
        width: 50%;
        float: left;
    }
    .travel-card-wrapper {
        width: 50%;
        float: right;
        height: 423px;
    }
    .travel-guide img {
        float: left;
    }
    .img-travel img {
        float: left;
        padding: 10px 10px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar ul {
        padding-left: 20%;
    }
    .navbar ul li {
        padding: 0 1.55%
    }
    .services-card {
        width: 25%;
    }
}